:root{
  --mtopHeader:70px;
  --minWidthCont:250px;
  --maxWidthCont:350px;
  --widthCont:auto;
  --fontFamilyOne: "Product Sans",Arial,sans-serif;
}
*{
  font-family: var(--fontFamilyOne);
}
.Main{
  position: relative;
}
.Header {
  width: 100%;
  height: var(--mtopHeader);
  position: fixed;
  display: flex;
  gap: 1px;
}
.main-body{
  margin-top: calc(var(--mtopHeader) + 1px);
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100% - var(--mtopHeader));
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1px;
}
.MenuLeft, .logo-container{
  height: 100%;
  overflow: auto;
  width: var(--widthCont);
  min-width: var(--minWidthCont);
  max-width: var(--maxWidthCont);
  overflow-x: hidden;
}
.ContainerContact, 
.searchContainer{
  height: 100%;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
}
.logo-container{
  overflow: hidden;
  max-width: 60px;
}
.logo-container img{
  margin-top: 5px;
  margin-left: 5px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}
.logo-container span{
  font-size: 24px;
  margin-left: 15px;
}
.searchContainer{
  overflow: hidden;
  display: inline-flex;
  justify-content: space-between;
}
.searchContainer-input,
.searchContainer-input .Search{
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
