:root{
  --mtopHeader:70px;
  --minWidthCont:250px;
  --maxWidthCont:350px;
  --widthCont:auto;
  --fontFamilyOne: "Product Sans",Arial,sans-serif;
}
*{
  font-family: var(--fontFamilyOne);
}
.capitalize{
  text-transform: capitalize;
}
.lowercase{
  text-transform: lowercase;
}
.Main{
  position: relative;
}
.Header {
  width: 100%;
  height: var(--mtopHeader);
  position: fixed;
  display: flex;
  gap: 1px;
}
.main-body{
  margin-top: calc(var(--mtopHeader) + 1px);
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100% - var(--mtopHeader));
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1px;
}
.MenuLeft, .logo-container{
  height: 100%;
  overflow: auto;
  width: var(--widthCont);
  min-width: var(--minWidthCont);
  max-width: var(--maxWidthCont);
  overflow-x: hidden;
}
.ContainerContact, 
.searchContainer{
  height: 100%;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
}
.logo-container{
  overflow: hidden;
  max-width: 60px;
}
.logo-container img{
  margin-top: 5px;
  margin-left: 5px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}
.logo-container span{
  font-size: 24px;
  margin-left: 15px;
}
.searchContainer{
  overflow: hidden;
  display: inline-flex;
  justify-content: space-between;
  box-shadow: #eee 0px 0px 30px;
}
.searchContainer-input,
.searchContainer-input .Search{
  width: 100%;
  align-items: center;
  justify-content: left;
  display: flex;
}
.searchContainer-input{
  margin-left: 4px;
}
.searchContainer-input .form-floating{
  width: inherit;
}
#search{
  border: none; 
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}
#search:focus{
  border-radius: 1.5px !important;
}
.container-table{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-table 
.row-table{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: row;
}
.row-table{
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}
.row-table:hover{
  background-color: #f1f6fb;
}
.row-table div{
  text-align: left;
  flex-grow: 1;
  line-height: 65px;
}
.row-table .limit-tex{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.row-table div:nth-child(1){
  max-width: 100px;
  min-width: 90px;
  flex-grow: 1;
}
.row-table div:nth-child(1) > img{
  width: 64px;
  height: 64px;
  border-radius: 5px;

}
.row-table div:last-child{
  max-width: 100px;
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}
.alert-cadastra{
  line-height: 100px;
  text-align: center;
}
.content-icon{
  display: flex;
}
.icon-editar, 
.icon-apagar{
  max-width: none !important;
  min-width: auto !important;
  text-align: center !important;
  width: 50%;
}
.icon-editar svg:hover, 
.icon-apagar svg:hover{
  transition: all 0.3s;
  transform: scale(1.3);
  color: #227aee;
  cursor: pointer;
}
.icon-show-contact{
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow: #e5d6d6 1px 1px 30px;
}
.btnInsertContact{
  position: absolute;
  box-shadow: #ccc 0px 0px 25px;
  right: 20px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
}
.btnInsertContact img{
  width: inherit;
  height: inherit;
}
.btnInsertContact span{
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    font-size: 100px;
    width: inherit;
    height: inherit;
    color: #fff;
    line-height: 70px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btnInsertContact:hover{
  transform: scale(1.1);
  box-shadow: #bfadad 0px 0px 25px;
}
.btn-criar-contacts{
  margin: auto;
  margin-top: 10px;
  width: 90%;
  background-color: transparent;
  border-width: 3px;
  border-left-color: #d3d30f;
  border-top-color: blue;
  border-right-color: red;
  border-bottom-color: green;
  color: green;
}
.btn-criar-contacts:hover,
.btn-criar-contacts:active,
.btn-criar-contacts:focus{
  background-color: transparent;
  color: green;
}
.MenuLeft{
  border-right: 1px solid #eee;
}

@media (max-width:1024px){
  :root{
    --minWidthCont: 150px;
  }
  .MenuLeft{
    display: none;
  }
  .logo-container img{
    font-size: 12px;
  }
  .logo-container span{
    font-size: 12px;
  }
  .logo-container img{
    max-width: 50px;
    min-width: 50px;
  }
}

@media (max-width:700px){
  .btnInsertContact{
    position: fixed;
    right: 45%;
    width: 60px;
    height: 60px;
  }
  .btnInsertContact span{
    font-size: 100px;
    line-height: 60px;
  }
  .content-foto-user{
    min-width: fit-content;
  }
  .row-table div{
    font-size:smaller;
  }
  .row-table div:nth-child(1) > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 5px;
  }
  .row-table div:nth-child(1){
    min-width: 70px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
