:root{
  --mtopHeader:70px;
  --minWidthCont:250px;
  --maxWidthCont:350px;
  --widthCont:auto;
  --fontFamilyOne: "Product Sans",Arial,sans-serif;
}
*{
  font-family: var(--fontFamilyOne);
}
.Main{
  position: relative;
}
.Header {
  width: 100%;
  height: var(--mtopHeader);
  background-color: antiquewhite;
  position: fixed;
  display: flex;
  gap: 1px;
}
.main-body{
  margin-top: calc(var(--mtopHeader) + 1px);
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100% - var(--mtopHeader));
  background-color: rgb(225, 220, 245);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1px;
}
.MenuLeft, .logo-container{
  background-color: blueviolet;
  height: 100%;
  overflow: auto;
  width: var(--widthCont);
  min-width: var(--minWidthCont);
  max-width: var(--maxWidthCont);
  overflow-x: hidden;
}
.ContainerContact, .search-container{
  background-color: rgb(120, 91, 148);
  height: 100%;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
}
.logo-container{
  
}
.search-container{

}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
